body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #0e2148;
  position: fixed;
  top: 0;
  left: 0;
}
.form {
  width: 390px;
  background-color: white;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.form-container {
  display: flex;
  gap: 15px;
}
.form img {
  width: 20%;

  margin-bottom: 8px;
}
.form h2 {
  padding: 0;
  margin: 0px;
  margin-bottom: 5px;
  font-size: 25px;
}
.form p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #666;
}
.login-form {
  width: 100%;
}
input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fafafa;
  box-sizing: border-box;
  outline: none;
  margin: 5px 0px 18px 0px;
  font-size: 14px;
  transition: box-shadow 0.3s ease-in-out;
}
.login-form input:focus {
  border-color: #0e2148;
  box-shadow: 4px 5px 2px 0 rgba(0, 0, 0, 0.192);
}
label {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.foget,
.foget a {
  text-align: end;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #0e2148;
  margin-bottom: 18px;
  font-weight: 500;
}
.foget a:hover {
  text-decoration: underline;
}
button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #0e2148;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.Register {
  font-size: 14px;
  color: #555;
}
.Register a {
  text-decoration: none;
  color: #0e2148;
  font-weight: 600;
}
.Register a:hover {
  text-decoration: underline;
}
